body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* star-style checkbox, from http://www.dhtmlx.com/docs/products/dhtmlxForm/samples/02_items/14_btn2state.html */

/* enabled, not checked */
.star_0 {
    background-image: url("img/star_off.png");
    width: 19px;
    height: 19px;
}
/* enabled, checked */
.star_1 {
    background-image: url("img/star_on.png");
    width: 19px;
    height: 19px;
}

.recipeUseOptionDescription {
    width: 120px;
    padding-left: 5px;
}
