<div class="page-elements">
<div id="navbar">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<!-- Be sure to leave the brand out there if you want it shown -->
				<a class="brand" id="brand" href="#" />

				<div class="nav-collapse collapse" style="height: 0px; ">
					<ul class="nav">
		    				<li class="active">
		      					<a href="#">Home</a>
		    				</li>
					</ul>
				</div>

				<div class="pull-left">
					<div class="dropdown">
						<a class="btn dropdown-toggle menuCommand" data-toggle="dropdown" href="#" id="serviceRecipesCommand">
              				<i class="icon-cog"></i>
              				<span class="caret"></span>
            			</a>
						<ul class="dropdown-menu" id="serviceRecipesMenu">
						</ul>
					</div>
				</div>

				<div class="pull-left">
					<div class="dropdown">
						<a class="btn dropdown-toggle menuCommand" data-toggle="dropdown" href="#" id="kitchenCommand">
                            Kitchen
              				<span class="caret"></span>
            			</a>
						<ul class="dropdown-menu" id="kitchenMenu">
						</ul>
					</div>
				</div>

				<div class="pull-left">
                	<div class="dropdown">
                    	<a class="btn dropdown-toggle menuCommand" data-toggle="dropdown" href="#" id="authCommand">
    	         	 		<i class="icon-user"></i>
        	      			<span class="caret"></span>
                		</a>
                		<ul class="dropdown-menu" id="authMenu">
    			        </ul>
            		</div>
	          	</div>
				<form class="navbar-form pull-right">
					<div class="btn-group">
						<input class="btn btn-primary menuCommand" type="button" value="Edit" id="editCommand">
					</div>
					<div class="btn-group">
						<a class="btn menuCommand" id="saveCommand">Save</a>
						<a class="btn menuCommand" id="doneCommand">Finish</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="modals" aria-hidden="true">
	<!-- Abort Edit Mode Confirmation Modal -->
	<div class="modal" id="doneEditModeModal" tabindex="-1" role="dialog" aria-labelledby="doneEditModeModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	    <h3 id="doneEditModeModalLabel">Finish editing</h3>
	  </div>
	  <div class="modal-body">
	    <p>There are unsaved changes. Do you want to save them ?</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	    <button id="doneEditModeModalDiscardCommand" class="btn">Discard changes</button>
	    <button id="doneEditModeModalSaveCommand" class="btn btn-primary">Save changes</button>
	  </div>
	</div>

	<!-- View Cache Modal -->
	<div class="modal" id="viewCacheModal" tabindex="-1" role="dialog" aria-labelledby="viewCacheModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	    <h3 id="viewCacheModalLabel">SSOUP Worktop Cache</h3>
	  </div>
	  <div class="modal-body" id="viewCacheModalBody">
	    <textarea maxlength="1000000" rows="20" cols="50" id="viewCacheTextArea" />
	  </div>
	</div>
</div>

<div id="recipes" class="recipes-popover" aria-hidden="true">
	<div aria-hidden="true">
	  <div class="row-fluid">
        <div class="recipeSelect pull-left">
            <div class="recipesCategories">
                <label for="recipesCategories">Choose categories</label>
                <select class="recipesCategoriesSelect" multiple style="max-width: 150px">
                    <option value=""></option>
                </select>
            </div>
    	  	<div class="recipesList">
    			<ul class="nav nav-list">
    				<li class="nav-header">Available recipes</li>
    			</ul>
        	</div>
        </div>
		<div class="recipeDetails pull-right">
		</div>
	  </div>
	</div>
</div>

<div id="newInstance" class="new-instance-popover" aria-hidden="true">
    <div aria-hidden="true">
	  <div class="row-fluid">
        <div class="createNewInstance pull-left">
            <div class="properties">
                <label for="typePropertiesSelect">Choose predicate</label>
                <select class="typePropertiesSelect" multiple style="max-width: 150px">
                </select>
            </div>
    	  	<div class="type">
                <label for="types">Choose new instance type</label>
                <select class="typesSelect" multiple style="max-width: 150px">
                </select>
        	</div>
            <div>
                <a class="btn btn-primary pull-right" href="#" disabled><i class="icon-plus icon-white"></i> Create</a>
            </div>
        </div>
	  </div>
	</div>
</div>

<div id="deleteInstance" class="delete-instance-popover" aria-hidden="true">
    <div aria-hidden="true">
      <div class="row-fluid">
        <div class="deleteInstance pull-left">
            <div class="message">
                This object will be removed. Are you sure ?
        	</div>
            <div>
                <a class="btn btn-primary pull-right" href="#" disabled><i class="icon-trash icon-white"></i> Delete</a>
            </div>
        </div>
	  </div>
	</div>
</div>

<div id="footer">
	<footer class="footer">
		<br />
		<br />
		<hr />
		<div id="footer-floor" style="font-size: 14px">
			<p>
			&nbsp;&nbsp;&nbsp;2012-2013 <a href="http://www.ssoup.org">SSOUP.org</a>
			</p>
		</div>
	</footer>
</div>
</div>
